<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.blockchain.data.stash.db.dao.DynamicTableInfoMapper">

	<insert id="insertOrUpdate" parameterType="com.webank.blockchain.data.stash.db.model.DynamicTableInfo"
		statementType="STATEMENT">
		replace into ${tableName} (_id_, _hash_, _status_,
		_num_${dynamicTableInfo.fields}) values
		(${dynamicTableInfo.values})
		${dynamicTableInfo.fieldsOnDuplicateKeyUpdates}
	</insert>

	<select id="existTable" parameterType="String" resultType="Integer">
		select count(*)
		from information_schema.TABLES
		where
		table_name=#{tableName}
	</select>

	<insert id="insertDetail" parameterType="com.webank.blockchain.data.stash.db.model.DynamicTableInfo"
		useGeneratedKeys="true" keyProperty="dynamicTableInfo.pkId"
		statementType="STATEMENT">
		insert ignore into ${tableName} (_id_, _hash_, _status_,
		_num_${dynamicTableInfo.fields}) values
		(${dynamicTableInfo.values})
	</insert>

	<insert id="batchInsert" parameterType="java.util.List"
		statementType="STATEMENT">
		replace into ${tableName} (_id_, _hash_, _status_, _num_${fields})
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(${item.values})
		</foreach>
	</insert>

	<insert id="batchInsertDetail" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="list.pkId">
		insert ignore into ${tableName} (_id_, _hash_, _status_, _num_${fields})
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(${item.values})
		</foreach>

	</insert>
	
	<select id="selectDetailByBlockNum" parameterType="java.lang.Long"
		resultType="Object">
		select * from ${tableName} where _num_ = #{num,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteDetailByBlockNum" parameterType="java.lang.Long">
		delete from ${tableName}
		where _num_ = #{num,jdbcType=BIGINT}
	</delete>

</mapper>